<?xml version='1.0' encoding='UTF-8'?> 
<plugin xmlns='http://www.phonegap.com/ns/plugins/1.0' xmlns:android='http://schemas.android.com/apk/res/android' id='cordova-plugin-donky-push' version='1.0.8'>
  <name>Donky Push Notifications</name>
  <description>
     This plugin allows you to receive push notifications and interactive push
    notifications, feedback the analytics and optionally display them. Powered
    Donky (www.donkynetworks.com) 
  </description>
  <license>
     MIT 
  </license>
  <js-module name='donky-core' src='www/donky.js'>
    <clobbers target='cordova.plugins.donky'/>
  </js-module>
  <platform name='android'>
    <config-file target='config.xml' parent='/*'>
      <feature name='DonkyPlugin'>
        <param name='android-package' value='cordova.plugin.DonkyPlugin'/>
      </feature>
    </config-file>
    <source-file src='src/android/DonkyApplication.java' target-dir='src/cordova/plugin'/>
    <source-file src='src/android/DonkyPlugin.java' target-dir='src/cordova/plugin'/>
    <hook type='after_prepare' src='scripts/android_app_name.js'/>
    <config-file target='AndroidManifest.xml' parent='/manifest'>
      <!-- PERMISSIONS FOR DONKY SDK -->
      <uses-permission android:name='android.permission.INTERNET'/>
      <uses-permission android:name='android.permission.ACCESS_NETWORK_STATE'/>
      <uses-permission android:name='android.permission.ACCESS_WIFI_STATE'/>
      <uses-permission android:name='android.permission.WRITE_EXTERNAL_STORAGE'/>
      <uses-permission android:name='android.permission.READ_EXTERNAL_STORAGE'/>
      <uses-permission android:name='android.permission.VIBRATE'/>
      <permission android:name='$PACKAGE_NAME.permission.C2D_MESSAGE' android:protectionLevel='signature'/>
      <uses-permission android:name='$PACKAGE_NAME.permission.C2D_MESSAGE'/>
      <uses-permission android:name='com.google.android.c2dm.permission.RECEIVE'/>
      <uses-permission android:name='android.permission.WAKE_LOCK'/>
      <uses-permission android:name='android.permission.RECEIVE_BOOT_COMPLETED'/>
    </config-file>
    <config-file target='AndroidManifest.xml' parent='/manifest/application'>
      <receiver android:name='net.donky.core.gcm.DonkyGcmBroadcastReceiver' android:permission='com.google.android.c2dm.permission.SEND'>
        <intent-filter>
          <action android:name='com.google.android.c2dm.intent.RECEIVE'/>
          <category android:name='$PACKAGE_NAME'/>
        </intent-filter>
      </receiver>
      <receiver android:name='net.donky.core.DonkyBroadcastReceiver'>
        <intent-filter>
          <action android:name='net.donky.core.ACTION_SYNCHRONISE'/>
        </intent-filter>
      </receiver>
      <service android:name='net.donky.core.gcm.DonkyGcmIntentService' android:exported='false'/>
      <service android:name='net.donky.core.DonkyIntentService' android:exported='false'/>
    </config-file>
    <config-file target='AndroidManifest.xml' parent='/manifest/application'>
      <service android:name='net.donky.core.messaging.push.logic.PushLogicIntentService' android:exported='false'/>
    </config-file>
    <framework src='net.donky:donky-core:2.2.0.3'/>
    <framework src='net.donky:donky-module-analytics:2.2.0.3'/>
    <framework src='net.donky:donky-module-push-logic:2.2.0.3'/>
    <framework src='net.donky:donky-module-push-ui:2.2.0.3'/>
    <framework src='com.android.support:appcompat-v7:22.2.1'/>
    <framework src='com.google.android.gms:play-services-gcm:+'/>
  </platform>
  <platform name='ios'>
    <config-file target='config.xml' parent='/*'>
      <feature name='DonkyPlugin'>
        <param name='ios-package' value='DonkyPlugin'/>
      </feature>
    </config-file>
    <hook type='after_plugin_install' src='scripts/ios/resolveDependencies.js'/>
    <hook type='after_prepare' src='scripts/ios/ios_inject_api_key.js'/>
    <source-file src='src/ios/DonkyPlugin.h'/>
    <source-file src='src/ios/DonkyPlugin.m'/>
    <source-file src='src/ios/AppDelegate+Donky.h'/>
    <source-file src='src/ios/AppDelegate+Donky.m'/>
    <source-file src='src/ios/AppDelegate+notification.h'/>
    <source-file src='src/ios/AppDelegate+notification.m'/>
    <resource-file src='src/ios/Localizable.strings'/>
    <config-file target='*-Info.plist' parent='UIBackgroundModes'>
      <array>
        <string>
           remote-notification 
        </string>
      </array>
    </config-file>
    <config-file target='*-Info.plist' parent='DonkyApiKey'>
      <array>
        <string>
           %DONKY_API_KEY% 
        </string>
      </array>
    </config-file>
    <!-- Frameworks -->
    <!-- UIView-Autolayout -->
    <!-- AFNetworking -->
    <!-- Donky Headers -->
    <!-- Donky Data model; due to a bug in Plugman where the .xccurrentversion file is not copied this section is currenty commented out and the data model needs manually copying! -->
    <!-- <source-file src='src/ios/Donky-Core-SDK/resources/DNDonkyDataModel.xcdatamodeld'/> -->
    <!-- Donky Source -->
    <framework src='Foundation.framework' autogen='true'/>
    <framework src='UIKit.framework' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNDonkyNetworkDetails.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNUserDefaultsHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNAccountController.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNUserAuthentication.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNAccountRegistrationResponse.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNConfigurationController.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNClientDetails.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNClientDetailsHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNDeviceDetails.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNDeviceDetailsHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNRegistrationDetails.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNUserDetails.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNTag.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNAppSettingsController.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNAssetController.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/NSManagedObject+DNHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/NSManagedObjectContext+DNDelete.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/NSManagedObjectContext+DNHelpers.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNKeychainHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNKeychainItemWrapper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNDataController.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNDeviceUser.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNNotification.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNUser.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNDonkyCoreFunctionalHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNEventSubscriber.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNLocalEvent.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNModuleDefinition.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNModuleHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNNotificationSubscriber.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNOutboundModules.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNRegisteredServices.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNSubscription.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNDonkyCore.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNErrorController.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNLoggingController.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNClientNotification.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNContentNotification.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNNetworkDataHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNDeviceConnectivityController.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNNetworkHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNRequest.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNRetryHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNRetryObject.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNServerNotification.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNSessionManager.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNNetworkControllerQueue.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNNetworkOperation.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNSynchroniseResponse.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNNetworkController.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNPushNotificationUpdate.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNNotificationController.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNSignalRInterface.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNBlockDefinitions.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/NSDate+DNDateHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/NSMutableDictionary+DNDictionary.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/UIViewController+DNRootViewController.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNConstants.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNFileHelpers.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNNetwork+Localization.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNQueueManager.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNApplicationShortCutHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DNSystemHelpers.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DCAConstants.h' autogen='true'/>
    <header-file src='src/ios/Donky-Core-SDK/headers/DCAAnalyticsController.h' autogen='true'/>
    <resource-file src='src/ios/Donky-Core-SDK/resources/DNConfiguration.plist' autogen='true'/>
    <resource-file src='src/ios/Donky-Core-SDK/resources/DNLocalization.strings' autogen='true'/>
    <source-file framework='true' src='src/ios/Donky-Core-SDK/libPods-Donky-Core-SDK.a' autogen='true'/>
    <framework src='Foundation.framework' autogen='true'/>
    <framework src='UIKit.framework' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-Logic/headers/DCMConstants.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-Logic/headers/DCMLogicMessageMapper.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-Logic/headers/DCMMainController.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-Logic/headers/DNMessage.h' autogen='true'/>
    <source-file framework='true' src='src/ios/Donky-CommonMessaging-Logic/libPods-Donky-CommonMessaging-Logic.a' autogen='true'/>
    <framework src='Foundation.framework' autogen='true'/>
    <framework src='UIKit.framework' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUIActionHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUIAlertHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUIAvatarImageView.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/NSDate+DCMDate.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/UIColor+DCMColour.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DNResponder+FirstResponder.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUIConstants.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUINotificationController.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUIBannerView.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUINotificationViewHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUINotification.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUILocalization+Localization.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUIMainController.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUINewBannerView.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DRichMessage+Localization.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DRUITheme.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DRUIThemeConstants.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUISplitViewController.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUIThemeController.h' autogen='true'/>
    <header-file src='src/ios/Donky-CommonMessaging-UI/headers/DCUITheme.h' autogen='true'/>
    <resource-file src='src/ios/Donky-CommonMessaging-UI/resources/DRLocalization.strings' autogen='true'/>
    <resource-file src='src/ios/Donky-CommonMessaging-UI/resources/DCUILocalization.strings' autogen='true'/>
    <resource-file src='src/ios/Donky-CommonMessaging-UI/resources/common_messaging_default_avatar.png' autogen='true'/>
    <resource-file src='src/ios/Donky-CommonMessaging-UI/resources/common_messaging_default_avatar@2x.png' autogen='true'/>
    <source-file framework='true' src='src/ios/Donky-CommonMessaging-UI/libPods-Donky-CommonMessaging-UI.a' autogen='true'/>
    <framework src='Foundation.framework' autogen='true'/>
    <framework src='UIKit.framework' autogen='true'/>
    <header-file src='src/ios/Donky-SimplePush-Logic/headers/DPConstants.h' autogen='true'/>
    <header-file src='src/ios/Donky-SimplePush-Logic/headers/DPPushNotificationControllerHelper.h' autogen='true'/>
    <header-file src='src/ios/Donky-SimplePush-Logic/headers/DPPushNotificationController.h' autogen='true'/>
    <source-file framework='true' src='src/ios/Donky-SimplePush-Logic/libPods-Donky-SimplePush-Logic.a' autogen='true'/>
    <framework src='Foundation.framework' autogen='true'/>
    <framework src='UIKit.framework' autogen='true'/>
    <framework src='AudioToolbox.framework' autogen='true'/>
    <header-file src='src/ios/Donky-SimplePush-UI/headers/DPUIBannerView.h' autogen='true'/>
    <header-file src='src/ios/Donky-SimplePush-UI/headers/DPUINotificationController.h' autogen='true'/>
    <header-file src='src/ios/Donky-SimplePush-UI/headers/DPUINotification.h' autogen='true'/>
    <resource-file src='src/ios/Donky-SimplePush-UI/resources/avatar_default.png' autogen='true'/>
    <resource-file src='src/ios/Donky-SimplePush-UI/resources/avatar_default@2x.png' autogen='true'/>
    <resource-file src='src/ios/Donky-SimplePush-UI/resources/avatar_default@3x.png' autogen='true'/>
    <source-file framework='true' src='src/ios/Donky-SimplePush-UI/libPods-Donky-SimplePush-UI.a' autogen='true'/>
    <framework src='Foundation.framework' autogen='true'/>
    <framework src='SystemConfiguration.framework' autogen='true'/>
    <framework src='Security.framework' autogen='true'/>
    <framework src='MobileCoreServices.framework' autogen='true'/>
    <framework src='CoreGraphics.framework' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/AFNetworking.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/AFURLConnectionOperation.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/AFHTTPRequestOperation.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/AFHTTPRequestOperationManager.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/AFHTTPSessionManager.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/AFURLSessionManager.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/AFNetworkReachabilityManager.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/AFSecurityPolicy.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/AFURLRequestSerialization.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/AFURLResponseSerialization.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/AFNetworkActivityIndicatorManager.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/UIActivityIndicatorView+AFNetworking.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/UIAlertView+AFNetworking.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/UIButton+AFNetworking.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/UIImage+AFNetworking.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/UIImageView+AFNetworking.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/UIKit+AFNetworking.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/UIProgressView+AFNetworking.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/UIRefreshControl+AFNetworking.h' autogen='true'/>
    <header-file src='src/ios/AFNetworking/headers/UIWebView+AFNetworking.h' autogen='true'/>
    <source-file framework='true' src='src/ios/AFNetworking/libPods-AFNetworking.a' autogen='true'/>
    <framework src='Foundation.framework' autogen='true'/>
    <header-file src='src/ios/UIView-Autolayout/headers/UIView+AutoLayout.h' autogen='true'/>
    <source-file framework='true' src='src/ios/UIView-Autolayout/libPods-UIView-Autolayout.a' autogen='true'/>

    <info>
        Due to Cordova not copying the hidden file .xccurrentversion please manually copy the package ./plugins/cordova-plugin-donky-push/src/ios/Donky-Core-SDK/resources/DNDonkyDataModel.xcdatamodeld into the Donky plugins folder in XCode. The Xcode project can be found in ./platform/ios
    </info>
  </platform>
</plugin>