<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SDK Version</key>
	<string>2.6.5.5</string>
	<key>Display No Internet Alert</key>
	<true/>
	<key>Debug Log Submission Interval</key>
	<integer>30</integer>
	<key>Logging Options</key>
	<dict>
		<key>Logging Enabled</key>
		<true/>
		<key>Output Warning Logs</key>
		<true/>
		<key>Output Error Logs</key>
		<true/>
		<key>Output Info Logs</key>
		<true/>
		<key>Output Debug Logs</key>
		<true/>
		<key>Output Sensitive Logs</key>
		<true/>
	</dict>
</dict>
</plist>
